<div class="position-relative container">
  <div class="row justify-content-center">
    <div class="card mt-sm-3 col-md-8">
      <div class="card-body">
        <h3 class="mb-0 text-center">DreamWithUz</h3>

      
        <button>{{items}}</button>
      </div>
      <!-- card-body -->
    </div>
    <!-- card -->
  </div>
  <!-- row -->

  <div class="position-absolute container" style="left: 0; z-index: 10">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <div class="list-group">
          <div class="list-group-item  flex-column align-items-start"
            *ngFor="let product of products">
            <app-products (increaseCart)="increaseCart($event)" (decreaseCart) = "decreaseCart($event)" [product]= "product" 
            >-</app-products>
            </div><!-- products from for -->
        </div>
        <!-- list-group -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- position -->
